article{

background: linear-gradient(0deg, rgb(205, 205, 205) 40%, #563bb7 100%);
}

img{
border:3px solid rgb(0, 0, 0);
float: left;
border-radius: 10em;
}

h1{
float: left;
}

details {
  border: 5px solid #000000;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

